[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "examples/StdPeriph_Lib"]
	path = examples/StdPeriph_Lib
	url = https://github.com/Zaparivanny/STM32F10x_StdPeriph_Lib.git
